@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <div class=" text-centre">
        <h1 class="display-3 text-center">About us:</h1>
        <p class=" text-black text-left">
            At KhumaloCraft, we believe in the beauty of craftsmanship and the stories behind each unique
            creation. Founded by visionary entrepreneur James Khumalo, our platform serves as a vibrant
            marketplace where artisans can showcase their talents and connect with a discerning audience
            worldwide.
            <br />
            <br />

            Our mission is simple yet profound: to celebrate the artistry of artisans and bring their creations
            to the forefront of the global stage. From intricately woven textiles to meticulously carved
            sculptures, each item in our collection reflects the passion and dedication of the artisans who craft them.
            What sets KhumaloCraft apart is our commitment to authenticity, quality, and fair trade practices.
            We work closely with artisans to ensure fair compensation for their work and to promote sustainable
            production methods that respect both people and the planet.
            <br />
            <br />

            Whether you're searching for a one-of-a-kind statement piece for your home or a thoughtful
            gift for a loved one, KhumaloCraft offers an unparalleled selection of handcrafted treasures to
            suit every taste and occasion.
            Join us in celebrating the rich tapestry of human creativity and craftsmanship.
            Explore our curated collection today and discover the magic of KhumaloCraft Emporium.
            Thank you for supporting artisans and embracing the beauty of handmade.
        </p>
    </div>
</div>
