@{
    ViewData["Title"] = "Contact Us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        11 Gamer Road<br />
        Pinetown, Durban<br />
        Zip ocde: 3610<br />
        Phone number: +2781 451 1345
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:KhumaloCraftSupport@example.com">KhumaloCraftSupport@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:KhumaloCraftMarketing@example.com">KhumaloCraftMarketing@gmail.com</a>
    </address>
</main>