@model ABC_Retail_ST10255912_POE.ViewModels.CartViewModel

<h1 class="text-white">Shopping Cart</h1>


@if (!Model.CartItems.Any())
{
    <p class="text-white">Your cart is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="text-white">Name</th>
                <th class="text-white">Price</th>
                <th class="text-white">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td class="text-white">@item.ProductName</td>
                    <td class="text-white">@item.FormattedPrice</td>
                    <td>

                        <form asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="cartItemID" class="text-white" value="@item.CartItemID" />
                            <button type="submit" class="btn btn-danger" onclick="decrementCartCounter()">Remove</button>
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-white">Total:</td>
                <td class="text-white">@Model.FormattedTotalPrice</td>
                <td></td>
                <td></td>
                <td></td>
                <td>


                    <a asp-controller="Products" asp-action="Index" class="btn btn-success d-inline me-2 text-white">Continue Shopping</a>

                    <form asp-controller="Checkout" asp-action="ProceedToCheckout" method="post" class="d-inline me-2">

                        <button type="submit" class="btn btn-success text-white">Proceed to Checkout</button>

                    </form>
                </td>

            </tr>
        </tbody>
    </table>
}
