@model ABC_Retail_ST10255912_POE.Models.Order

<h2>Order Confirmation</h2>

<div>
    <p>Your order was successful! :)</p>
</div>



<a asp-controller="Products" asp-action="Index" class="btn btn-primary">Continue Shopping</a>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        resetCartCounter();
    });
</script>
